
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.centro{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main{
  height: auto;
  width: 100vw;
}

.header{
  height: 5rem;
  width: 100vw;
}

.navbar{
  background-color: black !important;
}

#btn_loja_virtual:hover{
  background-color: slategrey !important;
  color: white;
}

.capa{
  background-image: url("/img/fundo_site_3\ -\ Copia.jpg");
  background-size: cover;
  display: flex;
  min-height: 90vh;
  padding: 0.25rem;
  width: 100vw;
}

.frase_caixa{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.frase{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal_livros{
  position: absolute;
  background-color: white;
  width: 50vw;
  min-height: 60vh;
  top: 25%;
  left: 25%;
}

.livros_capa,
.livros_descricao{
  height: fit-content;
}

.livros_descricao p{
  line-height: 2rem;
  text-align: justify;
}



.quem_sou{
  align-items: center;
  background-color: white !important;
  display: flex;
  height: auto;
  justify-content: center;
  width: 50vw;
}

.quem_sou_descricao{
  line-height: 2.5rem;
  text-align: justify;
  width: 50vw;
}

.foto img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.midias{
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  width: 8rem;
}

.logotipo{
  align-items: center;
  display: flex;
  margin-right: 3rem;
  width: 12rem;
}

.palestras{
  background-color: white;
  left: 30%;
  min-height: 40vh;
  position: absolute;
  text-align: justify;
  top: 25%;
  width: 45vw;
}

.box_blog_artigos{
  height: auto;
  line-height: 2rem;
  text-align: justify;
  width: 50vw;
}

.blog_1,
.artigos{
  height: auto;
  width: 50vw;
}

.formulario{
  background-image: url('/img/fundo_form.jpg');
  height: 90vh;
  width: 100vw;
}

.formulario_inner{
  backdrop-filter: blur(20px) !important;
  border: 0.25px solid grey !important;
  padding: 2rem !important;
  width: 50vw;
}

#btn_enviar_formulario,
#btn_saiba_mais_capa{
  background-color: aquamarine !important;
  color: darkblue !important;
}

.rodape{
  width: 100vw;
  height: 10rem;
}




@media screen and (max-width: 576px) {
  .navbar-nav{
    margin-left: 0;
  }
  .quem_sou,
  .quem_sou_descricao,
  .box_blog_artigos,
  .blog_1,
  .artigos{
    height: auto;
    width: 100vw;
    padding: 1rem;
    margin: 2rem auto !important;
  }
  .modal_livros{
    width: 100vw;
    margin: 0 auto !important;
    position: inherit;
  }

  .livros_capa img{
    height: auto !important;
  }

  #btn_conhecer_autor,
  #btn_blog_1,
  #btn_artigos,
  #btn_enviar_formulario{
    margin: 0 auto !important;
    width: 100% !important;
  }

  .formulario{
    width: 100vw !important;
    margin: 0 auto !important;
  }

  .formulario_inner{
    width: 100vw;
  }

  input{
    margin: 1rem auto;
  }

  .rodape{
    height: auto;
  }

}









