
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.centro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  width: 100vw;
  height: auto;
}

.header{
  width: 100vw;
  height: 5rem;
}

.navbar{
  background-color: black !important;
}

#btn_loja_virtual{
  background-color: white !important;
}

#btn_loja_virtual:hover{
  background-color: slategrey !important;
  color: white;
}

.capa{
  display: flex;
  width: 100vw;
  min-height: 90vh;
  padding: 0.25rem;
  background-image: url("/img/fundo_site_3\ -\ Copia.jpg");
  background-size: cover;
}

.frase_caixa{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.frase{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quem_sou{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  min-height: 95vh;
  background-color: white !important;
}

.quem_sou_descricao{
  width: 50vw;
  text-align: justify;
  line-height: 2.5rem;
}

.foto img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.midias{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  color: white;
}

.logotipo{
  width: 12rem;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.palestras{
  width: 45vw;
  min-height: 40vh;
  position: absolute;
  top: 25%;
  left: 30%;
  background-color: white;
  text-align: justify;
}

.box_blog_artigos{
  text-align: justify;
  width: 50vw;
  min-height: 95vh;
  line-height: 2rem;
}

.blog_1,
.artigos{
  width: 50vw;
  height: auto;
}

.formulario{
  width: 100vw;
  height: 80vh;
  background-color: rgb(116, 193, 193);
}

.formulario_inner{
  width: 50vw;
}

.rodape{
  width: 100vw;
  height: 10rem;
}




@media screen and (max-width: 576px) {
  .navbar-nav{
    margin-left: 0;
  }
  .quem_sou,
  .quem_sou_descricao,
  .box_blog_artigos,
  .blog_1,
  .artigos{
    height: auto;
    width: 100vw;
    padding: 1rem;
    margin: 2rem auto !important;
  }
  #btn_conhecer_autor,
  #btn_blog_1,
  #btn_artigos,
  #btn_enviar_formulario{
    margin: 0 auto !important;
    width: 100% !important;
  }

  .formulario{
    width: 100vw !important;
    margin: 0 auto !important;
  }

  .formulario_inner{
    width: 100vw;
  }

  input{
    margin: 1rem auto;
  }

}









